body{
    margin: 0;
    padding: 0;
    font-family: Helvetica,Verdana sans-serif;
    font-weight: bold;
}
section{
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #f0f0f0;
}

footer{
    width: 100%;
    height: auto;
    padding: 4em 0;
    font-weight: 300;
    text-align: center;
}
/*Section start*/
.section-bg{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
   
}
.section-bg header{
    display: table; /*header kısmının tablo gibi davraanmasını istiyoruz*/
    height: 100%;
    margin: auto;
    padding: 100px;
}
.section-bg h1{
    font-size: 3em;
    display: table-cell; /* Table gibi davranan headerın içindekilerin, tablo hücresi gibi davranmasını istiyoruz ki kolayca ortalama kaydırma işlemleri yapabilelim.*/
    vertical-align: middle; /* Hücre içindekileri dikeyde ortaladık*/
    color: #f9e498;
    text-shadow: -2px 2px 5px #7d7d7d;
}
.section1{
    height: 100vh;
    background-image:url(https://images.unsplash.com/photo-1653183693639-cffc9d75c769?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) ;
}
/*Section end*/
/*Nav Start*/
nav{
    position: sticky; /* yukarı ile arasında (top:0px) fark kalınca sabitlenir. Sayfayı aşağı çeksekte nav bar yukarda sabit kalır*/
    width: 100%;
    height: auto;
    top: 0px;
    background-color: #83889e;
    box-shadow: 0 -6px 20px 3px #cccccc;
}
nav>ul{ /*çocuk seçici > kullandık*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Defaultu visible dir. İçerik taşsa da gözükecektir. Ama hidden ,taşan içeriği göstermez*/
}
nav li{
    position: relative;
    float: left; /* Sola yaslar*/
    width: 12%;
}
nav li:first-child{
    width: 40%; /* li nin ilk çocuğu genişliğin %40 ını kullanır, geriye kalanlar paylaşır*/
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
}
nav li:hover{
    color: #b2b2b2;
}
/*Nav End*/
/* Content Start*/
.section-body{ /* Gövde alan oluşturduk ve %80 genişlik verdik*/
    width: 80%;
    height: inherit;
    margin: auto; /* ortaladık*/
    padding: 0;
}
.section-photo{ /*Resim alanına %50 verdik*/
    width: 50%;
    height: inherit;
    float: left; /* Sola yasladık*/
}
.section-text{ /* Yazı alanına %50 verdik*/
    width: 50%;
    height: inherit;
    float: left;
}
.section-text p{
    padding: 2em;
    font-size: 2em;
    font-weight: 300;
}
.section-img{ /* Genişlik ve yksekliğe %100 dedikki , bulunduğu alanı doldursun*/
    display: inline-block; 
    width: 100%;
    height: 100%;
}
.clear{ /* Art arda gelen divlerde float işlemi uyguladığımızda, birbirine geçmiş divler sayfa düzenimizi bozacaktır. "Float Temizleyici"görevi gören "Clear" KEndinden önceki ve sonraki floatları siler ve peşine gelecek divlerin yapısını korur*/
    clear: both; /*Hem float:left'i hem float:right'ı kapsar*/
}
.section2{
    border-bottom: 1px solid #ccc;
    background-image: url(https://support.apple.com/content/dam/edam/applecare/images/en_US/psp_heros/hero-banner-macbook-pro.image.large_2x.jpg)  ;
    
    
}
.section2 h1{
    text-transform: capitalize; /* Baş harfleri büyük yazar*/
}
.section-box{
    float: left;
    margin: 1.5%;
    width: 30%;
    height:auto;
    box-shadow: 1px 2px 3px #cccccc; /*sectionları border içine alıp gölge veriyoruz*/
    text-align: center;
    padding: 2em 0;
}
.section-box p{
    font-weight: 300;
}
.footer{
    width: 100%;
    height: auto;
    padding: 4em 0;
    font-weight: 300;
    text-align: center;
}
/*Telefon ve Tablet*/
@media screen and (max-width:767px) {
    body{
        font-size: 12px;
    }
    .section-body{
        width: 100%;
        padding: 0;
    }
    .section-photo{
        width: 100%;
    }
    .section-text{
        width: 100%;
    }
    .section-box{
        width: 47%;
    }
}
/*Bilgisayarlar*/
@media screen and (min-width:768px) and (max-width:991px) {
    body{
        font-size: 13px;
    }
    .section-body{
        width: 90%;
    }
    .section-photo{
        width: 40%;
    }
    .section-text{
        width: 60%;
    }
    .section-text p{
        padding: 1rem;
    }
}